<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Lane Aasen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/index.css">
		<link rel="stylesheet" href="/static/css/fontawesome.min.css">
		
		<script src="/static/js/jquery-2.0.0.min.js"></script>
		<script src="/static/js/Chart.min.js"></script>
		<!-- <script src="/static/js/mixpanel.js"></script> -->
	</head>
 
	<body>
		<div class="content">
			<h1 id="username">PRETTY GRAPHS</h1>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function () {

			});
		</script>
	</body>
</html>
